<section id="one">
    <header class="major">
        <h2>Presentación</h2>
    </header>
    <p>
        Soy un ingeniero informático dedicado al desarrollo de software,
        apasionado por crear soluciones tecnológicas innovadoras. Con
        experiencia en varios lenguajes de programación, me enfoco en diseñar
        aplicaciones eficientes y funcionales. Mi trabajo abarca desde el
        análisis de requisitos hasta la implementación y optimización de
        sistemas complejos. Me esfuerzo en mantenerme actualizado en estas áreas
        para mejorar mis proyectos. Mi objetivo es crear productos útiles que
        tengan un impacto positivo en los usuarios.
    </p>
    <!--
    <ul class="actions">
        <li><a href="#" class="button">Leer más</a></li>
    </ul>
    -->
</section>
