<section id="two">
    <h2>Trabajos Recientes</h2>
    <div class="row">
        <article class="col-6 col-12-xsmall work-item">
            <a href="images/projects/smartcity-01.webp" class="image fit thumb">
                <img src="images/projects/smartcity-01_low.webp" alt="" />
            </a>
            <h3>SmartCity</h3>
            <p>
                Cuadro de mando para visualizar los PKIs de la monitorización
                inteligente en una ciudad Española
            </p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="images/projects/theia-01.webp" class="image fit thumb"
                ><img src="images/projects/theia-01_low.webp" alt="" /></a
            >
            <h3>Theia - Clínica oftalmológica</h3>
            <p>Aplicación de gestión integral para clínicas oftalmológicas</p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="images/projects/echinese-01.webp" class="image fit thumb">
                <img src="images/projects/echinese-01.webp" alt="" />
            </a>
            <h3>TXICC - eChinese</h3>
            <p>
                Herramienta para publicación de recuros para el aprendizaje del
                chino
            </p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="images/fulls/04.jpg" class="image fit thumb"
                ><img src="images/thumbs/04.jpg" alt="" /></a
            >
            <h3>IT AT 18</h3>
            <p>
                Aplicativo para tratamiento y publicación a la administración de
                los datos generado por un sistema de emisiones atmosféricas
            </p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="images/projects/cinre-01.webp" class="image fit thumb">
                <img src="images/projects/cinre-01.webp" alt="" />
            </a>
            <h3>CINRE</h3>
            <p>
                Aplicativo las empresas pueden conocer las inspecciones,
                revisiones, mantenimientos y otros controles a los que están
                sometidos legalmente sus equipos e instalaciones industriales.
            </p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="images/projects/dinpat-01.webp" class="image fit thumb">
                <img src="images/projects/dinpat-01.webp" alt="" />
            </a>
            <h3>DIN·PAT</h3>
            <p>Aplicación móvil para la dinamización de barrios y comercios</p>
        </article>
    </div>
    <!--
    <ul class="actions">
        <li><a href="#" class="button">Full Portfolio</a></li>
    </ul>
    -->
</section>
